# HUBSPOT CONFIG
HUBSPOT_ACCESS_TOKEN=your_hubspot_pat_token_here
SPREADSHEET_ID=your_google_spreadsheet_id_here
SPREADSHEET_NAME=HubSpot_Data_Sync
GOOGLE_CREDENTIALS_FILE=credentials.json

# ODOO 1 CONFIG (PORT 8069)
ODOO_URL=http://localhost:8069
ODOO_DB=odoo_db
ODOO_USERNAME=admin
ODOO_PASSWORD=admin

# ODOO 2 CONFIG (PORT 8070)
ODOO2_URL=http://localhost:8070
ODOO2_DB=odoo2_db
ODOO2_USERNAME=admin
ODOO2_PASSWORD=admin

# MIDDLEWARE API KEY (TASK 8)
API_MIDDLEWARE_KEY=sgt_secret_api_key_2026
